#!/usr/bin/env bash
#
export MARIA_HOST=" your server ";
export MARIA_USR="you";

export COUCH_PROTOCOL="http";


export COUCH_HOST="  couch host : couch port ";

export COUCH_ADM="you";
# export COUCH_USR="admin";
export COUCH_PWD="   s3cr3t   ";

export COUCH_ADMIN="admin";
export COUCH_ROOT_PWD="   s3cr3t   ";

export COUCH_DATABASE_NAME="bapu";
export VERSION="004";

export COUCH_DATABASE="${COUCH_DATABASE_NAME}_${VERSION}";

export COUCH_URL="${COUCH_PROTOCOL}://${COUCH_ADMIN}:${COUCH_ROOT_PWD}@${COUCH_HOST}"

export LOCAL_DB="/opt/pouchdb/${COUCH_DATABASE}";
export REMOTE_DB="${COUCH_URL}/${COUCH_DATABASE}";

export LOG_DIR="/tmp/pouchLog";
export PROJECT_CONTAINER_DIR="${HOME}/services";


export TEST_FILES_PATH="temp/databases"
export TEST_FILES_DIR="${HOME}/${TEST_FILES_PATH}"

declare -a COUCH_USERS=(
  '{
    "_id": "org.couchdb.user:bill",
    "name": "1",
    "roles": ["read/write"],
    "type": "user",
    "password": "   s3cr3t   "
  }'
);

# New server commissioning credentials
export NEW_HOST="  your target server ";
export NEW_HOST_NAME="meta";  # Used in .ssh/config

export NEW_HOST_ROOT="you";
export NEW_HOST_ADMIN="you";
export NEW_HOST_PWD="   s3cr3t   ";

# Cypress Screen Scraper environment variables
export CYPRESS_ENDPNT="   bapu server url  ";
export CYPRESS_EP_UID="   bapu user id     ";
export CYPRESS_EP_PWD="   bapu user pwd    ";

export CYPRESS_CH_FIRSTINVOICE='2019 02 28 16 39 35';
export CYPRESS_CH_LATESTINVOICE='_design/bapu/_view/latestInvoice?stable=true&update=true&descending=true&limit=1';
export CYPRESS_CH_DB=${COUCH_DATABASE};
export CYPRESS_CH_URL=${COUCH_URL}/${COUCH_DATABASE};

# Digital certificate
export SIGNING_CERTIFICATE="${HOME}/.ssh/secrets/BCE_user name.p12";
export CERT="${SIGNING_CERTIFICATE}";
export CERTPWD="   s3cr3t   ";
